<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通帳管理アプリ</title>
    <link rel="stylesheet" th:href="@{/Start.css}">
</head>
<body>
<h1 style="text-align: center">通帳管理アプリ</h1>

<form action="/month" method="get">
    <div class="center">
        <select name="year">
            <option value="2025">2025年</option>
            <option value="2026">2026年</option>
            <option value="2027">2027年</option>
            <option value="2028">2028年</option>
            <option value="2029">2029年</option>
        </select>
    </div>
    <div class="button">
        <button type="submit" name="month" value="1">1月</button>
        <button type="submit" name="month" value="2">2月</button>
        <button type="submit" name="month" value="3">3月</button>

        <button type="submit" name="month" value="4">4月</button>
        <button type="submit" name="month" value="5">5月</button>
        <button type="submit" name="month" value="6">6月</button>

        <button type="submit" name="month" value="7">7月</button>
        <button type="submit" name="month" value="8">8月</button>
        <button type="submit" name="month" value="9">9月</button>

        <button type="submit" name="month" value="10">10月</button>
        <button type="submit" name="month" value="11">11月</button>
        <button type="submit" name="month" value="12">12月</button>
    </div>
</form>
</body>
</html>