<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>月の支出一覧</title>
    <link rel="stylesheet" th:href="@{/bankbook.css}">
</head>
<body>
<div class="title">
    <h1 th:text="${month} + '月の支出一覧'"></h1>
    <a th:href="@{/}" class="back-btn">
        <button type="button">戻る</button>
    </a>
</div>
<div class="button">
    <a th:href="@{/create(year=${year}, month=${month})}">
        <button type="button">新規登録</button>
    </a>
    <a th:href="@{/targetMoney}">
        <button type="button">目標金額</button>
    </a>
</div>
<div class="tables">
    <table class="passbook">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>id</th>
            <th>カテゴリー</th>
            <th>支払い方法</th>
            <th>金額</th>
            <th>継続支払い</th>
            <th>メモ</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="passbook : ${list}" th:object="${passbook}">
            <td>
                <button type="submit" name="edit">編集</button>
            </td>
            <td>
                <button type="submit" name="delete">削除</button>
            </td>
            <td th:text="*{id}"></td>
            <td th:text="*{category}"></td>
            <td th:text="*{method}"></td>
            <td th:text="*{amount}"></td>
            <td th:text="*{cont.label}"></td>
            <td th:text="*{memo}"></td>
        </tr>
    </tbody>
    </table>
    <table class="goal" th:if="${findOpportunity != null}" th:object="${findOpportunity}">
        <tr>
            <th>合計金額</th>
            <td th:text="*{totalAmount}"></td>
        </tr>
        <tr>
            <th>目標金額</th>
            <td th:text="*{targetAmount}"></td>
        </tr>
        <tr>
            <th>差分</th>
            <td th:text="*{difference}"></td>
        </tr>
    </table>
</div>
</body>
</html>