<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新規登録画面</title>
    <link rel="stylesheet" th:href="@{/registerFormat.css}">
</head>
<body>
<h1> 新規登録画面</h1>
<form id="form" name="form" th:action="@{/detail}" method="POST">

    <input type="hidden" name="year" th:value="${year}">
    <input type="hidden" name="month" th:value="${month}">

    <div class="form-row">
        <label for="category">カテゴリー</label>
        <select id="category" name="category">
            <option value="" disabled selected>------</option>
            <option value="食費">食費</option>
            <option value="交通費">交通費</option>
            <option value="交際費">交際費</option>
        </select>
    </div>

    <div class="form-row">
        <label for="method">支払い方法</label>
        <select id="method" name="method">
            <option value="" disabled selected>------</option>
            <option value="現金">現金</option>
            <option value="クレジットカード">クレジットカード</option>
            <option value="PayPay">Paypay</option>
        </select>
    </div>

    <div class="form-row">
        <label for="amount">金額</label>
        <input type="text" id="amount" name="amount">
    </div>

    <div class="form-row">
        <label for="cont">継続支払い</label>
        <select id="cont" name="cont">
            <option value="" disabled selected>------</option>
            <option value="ONE_MONTH">1ヶ月</option>
            <option value="TWO_MONTH">2ヶ月</option>
            <option value="THREE_MONTH">3ヶ月</option>
            <option value="SIX_MONTH">6ヶ月</option>
            <option value="ONE_YEAR">1年</option>

        </select>
    </div>

    <div class="form-row">
        <label for="date">登録日</label>
        <input type="date" id="date" name="date"
               th:min="${year + '-' + (month < 10 ? '0' + month : month) + '-01'}"
               th:max="${year + '-' + (month < 10 ? '0' + month : month) + '-31'}"
        >
    </div>

    <div class="form-row">
        <label for="memo">メモ</label>
        <textarea id="memo" name="memo"></textarea>
    </div>

    <p><input type="submit" value="保存"></p>
</form>

</body>
</html>